<% content_for :head do %>
	<%= javascript_include_tag 'managers/papers','data-turbolinks-track' => true %>
<% end %>
<th data-options="field:'uid',align:'center', width:'20%'">ID</th>
<th data-options="field:'name',align:'center', width:'20%'">测试名</th>
<th data-options="field:'paper_name',align:'center', width:'20%'">试卷名</th>
<th data-options="field:'start_date',align:'center', width:'10%'">开始时间</th>
<th data-options="field:'quiz_date',align:'center', width:'10%'">结束时间</th>
<th data-options="field:'is_public',align:'center', width:'7%'">公开测试</th>
<th data-options="field:'       ',width:'15%',align:'center',formatter:formatOper">操作</th>

<% content_for :tb_search do %>
	<span>测试名:</span>
	<input name="name" class="easyui-textbox" style="width:100px">
	<span>测试类型:</span>
	<select name="quiz_type" panelHeight="auto" class="easyui-combobox" style="width:80px">
		<option value="">&nbsp;</option>
		<% bank_test_quiz_type_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<span>开始时间:</span>
	<input  name="start_date" class="easyui-datetimebox"  style="width:100px" >
	<span>结束时间:</span>
	<input  name="quiz_date" class="easyui-datetimebox"  style="width:100px" >
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">Search</a>
<%end%>


<script type="text/javascript">
	function formatOper(val,row,index){
		var click_show = 'reopen(window.parent.$("#tabs"),"报告详情", "/managers/dashbord/report?id='+row["uid"]+'")';
		options = "";
    if(row['test_status'] != 'new'){
      options = options + "<a  href='#' onclick=\"Rollback(" + "\'<%= page_info_item[:path] %>/\'," + index  + ")\">回退</a>&nbsp; ";
    }
		options = options + '<a href="#" onclick="CombineObj(\'导入用户\',\'<%= page_info_item[:path] %>/\',\'' + row["uid"] + '\');" >导入用户</a> &nbsp;';
		if(row["down_allow"]){	
			options = options + '<a href="#" onclick="DownLoadObj(\'账号下载\',\'<%= page_info_item[:path] %>/\',\'' + row["uid"] + '\');" >下载</a> &nbsp;';  
		}
		options = options + '<a href="<%= page_info_item[:path] %>/'+row["uid"]+'/edit" data-remote="true" >编辑</a>';  
		options = options+"&nbsp;" + "<a href='#' onclick='" + click_show + "'>报告详情</a>";
		options = options+"&nbsp;" + '<a href="#" onclick="get_binded_stat(\'' + row["uid"] + '\')" >绑定详情</a>';
	  return options;
	}
  function get_binded_stat(uid){
    $.ajax({
      url: '/managers/bank_tests/get_binded_stat',
      beforeSend: function(){
        $.messager.progress({ 
          title:'Please waiting',
          msg:'Loading data...'
        });
      },
      data: {
        id:uid,
        authenticity_token: $('meta[name="csrf-token"]')[0].content,
      },
      type: 'get',
      success: function(rs){
        $.messager.progress('close');
        result_arr = rs.result_arr
        var total_tenant = 0
            binded_tenant = 0
            total_teachers = 0
            binded_teachers = 0
            total_pupils = 0
            binded_pupils = 0
        for(var i=0;i<result_arr.length;i++){
          total_tenant += result_arr[i].total_tenant
          binded_tenant += result_arr[i].binded_tenant
          total_teachers += result_arr[i].total_teachers
          binded_teachers += result_arr[i].binded_teachers
          total_pupils += result_arr[i].total_pupils
          binded_pupils += result_arr[i].binded_pupils
        }
        $("#mydlg").html($(".binded_stat_table").html());
        $("#total_stat").append("绑定总情况:校长："+binded_tenant+'/'+total_tenant+"老师："+binded_teachers+'/'+total_teachers+"学生："+binded_pupils+'/'+total_pupils)
        $('#binded_stat').datagrid({
          data: result_arr,
          view: detailview,
          columns:[[
            {field:'name',title:'学校',width:180},
            {field:'total_tenant',title:'校长总数',width:100},
            {field:'binded_tenant',title:'校长绑定数目',width:100},
            {field:'total_teachers',title:'教师总数',width:100},
            {field:'binded_teachers',title:'教师绑定数目',width:100},
            {field:'total_pupils',title:'学生总数',width:100},
            {field:'binded_pupils',title:'学生绑定数目',width:100},
          ]],
          detailFormatter:function(index,row){
            return '<div style="padding:2px"><table class="ddv"></table></div>';
          },
          onExpandRow: function(index,row){
            var ddv = $(this).datagrid('getRowDetail',index).find('table.ddv');
            ddv.datagrid({
              data: rs.result_hash[row.name],
              fitColumns:true,
              singleSelect:true,
              rownumbers:true,
              loadMsg:'',
              height:'auto',
              columns:[[
                {field:'name',title:'班级',width:100},
                {field:'total_teachers',title:'教师总数',width:100},
                {field:'binded_teachers',title:'教师绑定数目',width:100},
                {field:'total_pupils',title:'学生总数',width:100},
                {field:'binded_pupils',title:'学生绑定数目',width:100},
              ]],
              onResize:function(){
                $('#dg').datagrid('fixDetailRowHeight',index);
              },
            })
            $('#binded_stat').datagrid('fixDetailRowHeight',index);
          }
        })
        
        $('#mydlg').dialog('open')
      },
      error: function(){
        alert('获取失败')
      }
    })
  }  

</script>



<% content_for :form do %>
	<%= render partial: "managers/bank_tests/form" %>
<%end%>

<%= render partial: "shared/manager/base_fileupload" %>


<div id="mydlg" class="easyui-dialog" title="绑定详情"  style="width:850px;height:450px;padding:10px 10px" data-options="iconCls:'icon-save',resizable:true,closed:true,buttons:'#dlg-buttons'">
  
</div>
<script type="text/template" class="binded_stat_table">
  <h2 id="total_stat"></h2>
  <table id="binded_stat"></table>
</script>



<script type="text/template" class="rollback_test">
  <form action="" accept-charset="UTF-8" method="post" id="refrom" class="dlg-form" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" id="token" value="">
    <div class="fuid">
      <label>ID:</label>
      <%= text_field_tag :uid, '',"readonly" => "readonly" %>
    </div>
    <div class="fname">
      <label>名称:</label>
      <%= text_field_tag :heading, '', "readonly" => "readonly"%>
    </div>
    <div class="fstatus">
      <label>状态:</label>
      <%= text_field_tag :status_label, '', "readonly" => "readonly" %>
    </div>
    <div class="fback">
      <label>回退到:</label>
      <%= select_tag "back_to",options_for_select(Common::Test::RollbackStatus.invert),{class: 'back_to'} %>
    </div>
  </form>
</script>

