<% content_for :head do %>
	<%= javascript_include_tag 'managers/papers','data-turbolinks-track' => true %>
<% end %>
<th data-options="field:'uid',align:'center', width:'20%'">ID</th>
<th data-options="field:'name',align:'center', width:'20%'">测试名</th>
<th data-options="field:'paper_name',align:'center', width:'20%'">试卷名</th>
<th data-options="field:'start_date',align:'center', width:'10%'">开始时间</th>
<th data-options="field:'quiz_date',align:'center', width:'10%'">结束时间</th>
<th data-options="field:'is_public',align:'center', width:'7%'">公开测试</th>
<th data-options="field:'       ',width:'15%',align:'center',formatter:formatOper">操作</th>

<% content_for :tb_search do %>
	<span>测试名:</span>
	<input name="name" class="easyui-textbox" style="width:100px">
	<span>测试类型:</span>
	<select name="quiz_type" panelHeight="auto" class="easyui-combobox" style="width:80px">
		<option value="">&nbsp;</option>
		<% bank_test_quiz_type_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<span>开始时间:</span>
	<input  name="start_date" class="easyui-datetimebox"  style="width:100px" >
	<span>结束时间:</span>
	<input  name="quiz_date" class="easyui-datetimebox"  style="width:100px" >
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">Search</a>
<%end%>



<script type="text/javascript">
	function formatOper(val,row,index){
		options = "";
		options = options + '<a href="#" onclick="CombineObj(\'导入用户\',\'<%= page_info_item[:path] %>/\',\'' + row["uid"] + '\');" >导入用户</a> &nbsp;';
		if(row["down_allow"]){	
			options = options + '<a href="#" onclick="DownLoadObj(\'账号下载\',\'<%= page_info_item[:path] %>/\',\'' + row["uid"] + '\');" >下载</a> &nbsp;';  
		}
		options = options + '<a href="<%= page_info_item[:path] %>/'+row["uid"]+'/edit" data-remote="true" >编辑</a>';  
	  return options;
	} 
</script>

<% content_for :form do %>
	<%= render partial: "managers/bank_tests/form" %>
<%end%>

<%= render partial: "shared/manager/base_fileupload" %>




