
<div style="margin:5px 0px 5px 15px;">
    <label><%=LABEL("activerecord.attributes.area.province")%></label>
    <select class="easyui-combobox" id="province_rid" name="province_rid" style="width:200px;">
        <% area_list[:province].each do |item| %>
          <option value="<%=item.rid%>"><%=item.name_cn%></option>
        <% end %>
    </select>
</div>

<div style="margin:5px 0px 5px 15px;">
    <label><%=LABEL("activerecord.attributes.area.city")%></label>
    <select class="easyui-combobox" id="city_rid" name="city_rid" style="width:200px;" data-options="valueField:'rid',textField:'name_cn'">
        <% area_list[:city].each do |item| %>
          <option value="<%=item.rid%>"><%=item.name_cn%></option>
        <% end %>
    </select>
</div>

<div style="margin:5px 0px 5px 15px;">
    <label><%=LABEL("activerecord.attributes.area.district")%></label>
    <select class="easyui-combobox" id="district_rid" name="district_rid" style="width:200px;" data-options="valueField:'rid',textField:'name_cn'">
        <% area_list[:district].each do |item| %>
          <option value="<%=item.rid%>"><%=item.name_cn%></option>
        <% end %>
    </select>
</div>

<div style="margin:5px 0px 5px 15px;">
    <label><%=LABEL("activerecord.models.tenants")%></label>
    <select class="easyui-combobox" 
        id="tenant_uids" 
        name="tenant_uids[]"
        multiple="true" 
        multiline="true" 
        style="width:200px;height:100px;"
        data-options="valueField:'tenant_uids',textField:'name_cn'">
        <option value=""></option>
    </select>
    <input id="manager_area_list_tenant_all" 
        type="checkbox" 
        name="tenant_all" 
        onclick="area_list_check_all('#manager_area_list_tenant_all','#tenant_uids')">Select All
</div>

<div style="margin:5px 0px 5px 15px;">
    <label><%=LABEL("activerecord.models.locations")%></label>
    <select class="easyui-combobox" 
        id="loc_uids" 
        name="loc_uids[]"
        multiple="true" 
        multiline="true" 
        style="width:200px;height:100px;"
        data-options="valueField:'loc_uids',textField:'name_cn'">
        <option value=""></option>
    </select>
    <input id="manager_area_list_loc_all" 
        type="checkbox" 
        name="loc_all" 
        onclick="area_list_check_all('#manager_area_list_loc_all','#loc_uids')">Select All
</div>
<script type="text/javascript">
    function area_list_check_all(checkbox_selector,list_selector) {
        var checkbox_obj = $(checkbox_selector);
        var combobox_list = $(list_selector);
        if(checkbox_obj.is(":checked")){
            combobox_list.combobox("clear");
            combobox_list.combobox("disable");
        } else {
            combobox_list.combobox("enable");
        }
    };
</script>