<!--list columns-->
<th data-options="field:'heading',align:'center', width:'20%'">主标题</th>
<th data-options="field:'school_cn',align:'center', width:'20%'">学校</th>
<th data-options="field:'term_cn',align:'center', width:'10%'">学期</th>
<th data-options="field:'grade_cn',align:'center', width:'10%'">年级</th>
<th data-options="field:'quiz_type_cn',align:'center', width:'10%'">测试类型</th>
<th data-options="field:'subject_cn',align:'center', width:'12%'">考试学科</th>
<th data-options="field:'dt_update',align:'center', width:'20%'">更新时间</th>

<!--form in dialog-->
<% content_for :form do %>
<div class="easyui-tabs" style="width:100%; height:300px;">
  <div title="<%= LABEL("managers.users.basic")%>" style="padding: 15px; overflow:scroll;">
    <%= render partial: "shared/manager/user_basic_info" %>
  </div>
</div>
<% end %>

<% content_for :tb_search do %>
  <span>主标题:</span>
  <input name="heading" class="easyui-textbox" style="width:100px"> 
  <span>学校:</span>
  <input name="school" class="easyui-textbox" style="width:100px">
  <span>年级:</span>
  <select name="grade" panelHeight="auto" class="easyui-combobox" style="width:80px">
    <option value="">&nbsp;</option>
    <% grade_list.each do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>
  <span>学期:</span>
  <select name="term" panelHeight="auto" class="easyui-combobox" style="width:80px">
    <option value="">&nbsp;</option>
    <% term_list.each do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>
  <span>测试类型:</span>
  <select name="quiz_type" panelHeight="auto" class="easyui-combobox" style="width:80px">
    <option value="">&nbsp;</option>
    <% bank_test_quiz_type_list.each do |key, value| %>
      <option value="<%= key %>"><%= value %></option>
    <% end %>
  </select>    
  <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">Search</a>
<%end%>