<% content_for :form do %>
	<div class="fuid">
		<label>ID:</label>
		<%= text_field_tag :uid, '',"readonly" => "readonly" %>
	</div>
	<div class="fname">
		<label>名称:</label>
		<%= text_field_tag :heading, '', "readonly" => "readonly"%>
	</div>
	<div class="fstatus">
		<label>状态:</label>
		<%= text_field_tag :status_label, '', "readonly" => "readonly" %>
	</div>
	<div class="fback">
		<label>回退到:</label>
		<%= select_tag "back_to",options_for_select(Common::Paper::RollbackStatus.invert),{class: 'back_to'} %>
	</div>
	<div class="fckp" style="display:none;">
		<label>保留解析:</label>
		<%= radio_button_tag 'save_ckp', "true", id: "save_ckp_true"  %>&nbsp;是&nbsp;
		<%= radio_button_tag 'save_ckp', "false", id: "save_ckp_false" %>&nbsp;否&nbsp;
	</div>
<% end %>
<script type="text/javascript">
	function formatOper(val,row,index){
		options = "";

		options = options + '<a href="<%= page_info_item[:path] %>/'+ row["uid"] + '/new_paper_test" data-remote="true">创建测试</a> &nbsp;';
     if (row["paper_status"] == "editted" || row["paper_status"] == "analyzing" || row["paper_status"] == "analyzed"|| row["paper_status"] == "score_importing" || row["paper_status"] == "score_imported" || row["paper_status"] == "report_generating" || row["paper_status"] == "report_completed" ){   
  			options = options + "<a  href='#' onclick=\"rollbackObj(" + "\'<%= page_info_item[:path] %>/\'," + index  + ")\">回退</a>&nbsp; ";
		}
		// options = options + '<a href="<%= page_info_item[:path] %>/'+row["uid"]+'/down_file">下载</a>&nbsp; ';
		options = options + '<a href="#" onclick="DownLoadObj(\'试卷相关下载\',\'<%= page_info_item[:path] %>/\',\'' + row["uid"] + '\');" >下载</a> &nbsp;';
		if(row["is_empty"]){
			options = options + '<a href="<%= page_info_item[:path] %>/'+row["uid"]+'/export_file?down_type=xlsx">导出Execl</a> &nbsp;';  
			options = options + '<a href="<%= page_info_item[:path] %>/'+row["uid"]+'/export_file?down_type=json">导出Json</a> &nbsp;';
			options = options + '<a href="#" onclick="CombineObj(\'关联指标\',\'<%= page_info_item[:path] %>/\',\'' + row["uid"] + '\');" >关联</a> &nbsp;';  
		}
	  return options;
	} 
</script>
<% content_for :form_fcb do %>
	<%= render partial: "managers/bank_tests/form" %>
<%end%>