<% content_for :head do %>
	<%= javascript_include_tag 'managers/papers','data-turbolinks-track' => true %>
<% end %>
<th data-options="field:'uid',align:'center', width:'20%'">ID</th>
<th data-options="field:'heading',align:'center', width:'22%'">试卷名</th>
<th data-options="field:'school',align:'center', width:'15%'">学校</th>
<th data-options="field:'status_label',align:'center', width:'10%'">状态</th>
<th data-options="field:'subject_label',align:'center', width:'5%'">科目</th>
<th data-options="field:'grade_label',align:'center', width:'5%'">年级</th>
<th data-options="field:'term_label',align:'center', width:'10%'">学期</th>
<th data-options="field:'       ',width:'15%',align:'center',formatter:formatOper">操作</th>

<%= render partial: "form_in_dialog" %>

<!-- search tool -->
<% content_for :tb_search do %>
	<span>试卷名:</span>
	<input name="heading" style="line-height:16px;border:1px solid #ccc;width:100px">
	<span>状态:</span>
	<select name="paper_status" panelHeight="auto" style="width:80px">
		<option value="">&nbsp;</option>
		<% paper_status_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<span>学科:</span>
	<select name="subject" panelHeight="auto" style="width:80px">
		<option value="">&nbsp;</option>
		<% subject_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<span>年级:</span>
	<select name="grade" panelHeight="auto" style="width:80px">
		<option value="">&nbsp;</option>
		<% grade_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<span>学期:</span>
	<select name="term" panelHeight="auto" style="width:80px">
		<option value="">&nbsp;</option>
		<% term_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>
<%end%>