<%= extends :manager do %>
	<h2><%= page_info_item[:title] %></h2>
	<div style="margin:20px 0;"></div>
	<div id="tb">
<% unless ["permissions", "pupils", "papers","bank_tests"].include? controller_name %>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-add" plain="true" 
			onclick="newObj('<%= LABEL("common.create")%>','<%= page_info_item[:path] %>/');">
			<%= LABEL("common.create") %>
		</a> 
<% end %>
<% if ["papers"].include? controller_name %>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-add" plain="true" 
			onclick="ImportObj('<%= LABEL("common.import_obj")%>','<%= page_info_item[:path] %>/');">
			<%= LABEL("common.import_obj") %>
		</a> 
<% end %>
<% unless ["roles","permissions"].include? controller_name %>
	<% unless ["papers","bank_tests"].include? controller_name %>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-edit" 
			plain="true" 
			onclick="
			<% if ["tenants", "analyzers", "teachers", "pupils", "tenant_administrators", "project_administrators", "area_administrators"].include? controller_name %>
			        editObjWithArea('<%= page_info_item[:path] %>/')
			<% else %>
					editObj('<%= page_info_item[:path] %>/')
			<% end %>
		">
		<%= LABEL("common.edit")%></a>  
	<%end%>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-remove" 
			plain="true" 
			<% if ["checkpoint_systems"].include? controller_name %>
				onclick="destroy_check('<%= page_info_item[:path] %>/')"
			<%else%>
				onclick="destroy('<%= page_info_item[:path] %>/')"
			<% end %>
			>
			<%= LABEL("common.delete")%>
		</a>
<% end %>
		<form id="tb_search" action='<%= page_info_item[:path] %>'>
			<%= yield(:tb_search) %>
		</form>  

	</div>  
	<!-- singleSelect:true, 单行选择-->
	<table  id='dg' 
			class="easyui-datagrid" 
			title="<%= LABEL("common.list")%>" 
			style="width:98%;height:550px"
			data-options="		
				pagination:true,
				nowrap: false,
				singleSelect:true,
				url:'<%= page_info_item[:path] %>.json',
				method:'get', 
				toolbar: '#tb'">
		<thead>
			<tr>
<!-- 				<th field="ck" checkbox="false" width='5%'></th> -->
				<%= yield %>
			</tr>

		</thead>
	</table>
	<%= yield(:content) %>
	<div id="dlg" 
		class="easyui-dialog" 
		style="width:600px;height:400px;" 
		closed="true"
		buttons="#dlg-buttons">
		<%= form_tag '', id: 'fm' do  %>
			<input type="hidden" name="_method" id='manager_method' value="post" />
			<div id='other'>
				<%= yield(:form) %>
			</div>
		<% end %>
	</div>
	<div id="dlg-buttons">
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-ok" 
			onclick="saveObj()">
			<%= LABEL("common.save")%></a>
		<a  href="#" 
			class="easyui-linkbutton" 
			iconCls="icon-cancel" 
			onclick="javascript:$('#dlg').dialog('close')">
			<%= LABEL("common.cancel")%></a>
	</div>

	<div id="dd" 
	  class="easyui-dialog confirm-dlg" 
	  style="min-width:300px;min-height:150px;" 
	  closed="true"
	  buttons="#dd-buttons">
	  <%= form_tag '', id: 'fcb', :multipart=> true do  %>
	    <input type="hidden" name="_method" id='cb_manager_method' value="post" />
			<div id='other'>
				<%= yield(:form_fcb) %>
			</div>
	  <% end %>
	</div>
	<div id="dd-buttons">
	  <a  href="#"  class="easyui-linkbutton" iconCls="icon-ok" onclick="fcbSaveObj()">保存</a>
	  <a href="#" id="cancel" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dd').dialog('close')">取消</a>
	</div>

	<div id="rd" 
	class="easyui-dialog dlg" 
	style="width:600px;height:400px;" 
	closed="true"
	buttons="#rd-buttons">

	</div>
	<div id="rd-buttons">
		<a  href="#"  class="easyui-linkbutton" iconCls="icon-ok" onclick="formSaveObj()">保存</a>
	  <a href="javascript:void(0)" id="cancel" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#rd').dialog('close')">取消</a>
	</div>
<% end %>
