<% content_for :head do %>
  <%= javascript_include_tag 'echarts.min','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'managers/dashbord_paper','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'managers/dashbord','data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'managers/dashbord', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<%= render :partial => "head", :locals => { :text => "试卷数量" } %>
<%= render :partial => "partical", :locals => { :chart_id => "grade" } %>
<%= render :partial => "partical", :locals => { :chart_id => "paper_status" } %>
<div style="clear: both;"></div>
<%= render :partial => "partical", :locals => { :chart_id => "subject" } %>
<%= render :partial => "partical", :locals => { :chart_id => "term" } %>
<div style="display: none">
<%= render :partial => "partical", :locals => { :chart_id => "school" } %>
</div>