<% content_for :head do %>
  <%= javascript_include_tag 'echarts.min','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'managers/dashbord','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'managers/dashbord_report','data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'managers/dashbord', media: 'all', 'data-turbolinks-track' => true %>
  <style>
    h2 span{
      font-size:20px
    }
  </style>
<% end %>
<div class="head">
  <%if @test%>
    <h2 style="display: inline;float: left;width: 50%;">测试名称：<span><%=@test.name%></span></h2>
    <h2 id="append_button" style="display: inline;float: right;width: 50%;">试卷名称：<span><%=@test.bank_paper_pap.heading unless @test.bank_paper_pap.blank?%></span> <button class='btn btn-primary btn-sm' id='update_single' style='float: right;margin-right:10px'>更新统计</button></h2>
    <input type="hidden" id="test_id" value=<%= @test._id%> >
    <div style="clear: both;"></div>
  <% else %>
    <button class="btn btn-primary" id="update_all" style="float: right;margin-right:10px ">更新统计</button>
    <h2>所有测试统计</h2>
  <% end %>
</div>
<hr>
<div id='report_message'></div>
<% target_groups = @test.blank? ? Common::Report::Group::ListArr : target_test_group_arr(@test.report_top_group)%>
<%= render :partial => "report_part", :locals => { :num_tp => "所有报告",:num_id => "total_num",:color => '#ef5350' } %>
<% if target_groups.include?('project')%>
  <%= render :partial => "report_part", :locals => { :num_tp => "项目报告",:num_id => "project_num",:color => '#ffa726' } %>
<% end %>
<% if target_groups.include?('grade')%>
  <%= render :partial => "report_part", :locals => { :num_tp => "年级报告",:num_id => "grade_num",:color => '#4caf50' } %>
<% end %>
<% if target_groups.include?('klass')%>
  <%= render :partial => "report_part", :locals => { :num_tp => "班级报告",:num_id => "klass_num",:color => '#00c0ef' } %>
<% end %>
<% if target_groups.include?('pupil')%>
  <%= render :partial => "report_part", :locals => { :num_tp => "学生报告",:num_id => "pupil_num",:color => 'white' } %>
<% end %>

